.customerlist{
    display: flex;
    list-style-type: none;
    margin-bottom: 94px;
    @media screen and (min-width:1200px){
     margin-left: 215px;
    }
    @media screen and (max-width: 1199px){
        flex-wrap: wrap;
        @media screen and (min-width: 768px){
        width: 606px;
    }
    @media screen and (max-width: 479px){
        width: 404px;
    }
}
}
.customerlink{
    width: 170px;
    height: 90px;
    border: 1px solid gainsboro;
    color: #AFB1B8;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: currentColor;
    margin-right: 30px;
    border-radius: 4px;
    margin-bottom: 30px;
    
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.item{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
margin-top: 94px;
margin-bottom: 50px;
}
.customerlink:hover , .customerlink:focus{
   border-color: #2196F3;
   
   fill: #2196F3;
}

  