.wwdcon{
    @media screen and (max-width:1199px){
        display: none;
        width: 1px;
        height: 1px;
        margin: -1px;
    }
    
}
.wwd{
    display: flex;
}
.wwdi{
    padding-left: 15px;

}
.wwdi{
    position: relative;
}
